body {
    margin: 0;
    overflow: hidden;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    font-family: Arial, sans-serif;
    text-align: center;
}

/* WRAPPER */
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

/* BOX */
.card {
    width: 75%;
    max-width: 900px;
    background-color: #ffd6e0;
    padding: 50px 70px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: left;
}

h1 {
    font-size: 42px;
    margin: 0;
}

/* PRZYCISKI */
.buttons {
    position: relative;
    width: 75%;
    max-width: 900px;
    margin-top: 80px;
    height: 180px;
}

button {
    padding: 20px 50px;
    font-size: 22px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

/* TAK */
#yes {
    position: absolute;
    left: 0;
    background-color: #ff4d6d;
    color: white;
}

/* NIE */
#no {
    position: absolute;
    right: 0;
    background-color: white;
    color: #ff4d6d;
}

/* SERDUSZKA */
.heart {
    position: fixed;
    top: -10px;
    font-size: 20px;
    animation: fall linear infinite;
    color: #ff4d6d;
    z-index: 0;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

/* CANVAS */
#fireworks {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}
.final-screen {
    display: none;
    height: 100vh;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.final-card {
    background: #ffd6e0;
    padding: 60px 80px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    margin-bottom: 40px;
}

.final-screen video {
    width: 80%;
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}